<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         name="Headless Gama"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="msi.gama.headless.runtime.Application">
         </run>
      </application>
   </extension>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.gama.headless.product"
            name="org.gama.headless">
         <property
               name="appName"
               value="org.gama.headless">
         </property>
      </product>
   </extension>

</plugin>
